<!-- 
<app-face-snap [faceSnap]="mySnap"> </app-face-snap>  *ngIf="mySnap.snaps > 5" if you want to hide the element based on the number of snaps 
<app-face-snap [faceSnap]="myOtherSnap"></app-face-snap>
<app-face-snap [faceSnap] = "myLastSnap"> </app-face-snap>
-->
<!-- la directive  *ngFor  fonctionne un peu comme une boucle  for...of  , 
c'est-à-dire que, dans ce cas de figure, 
elle va itérer sur le tableau  faceSnaps  
et vous exposer l'élément correspondant à chaque itération sous l'alias  faceSnap
-->
<app-header></app-header>
<router-outlet></router-outlet>
<app-face-snap-list></app-face-snap-list>